<!DOCTYPE html>
<html>
<head>
  <title>Hearth</title>
  <%= stylesheet_link_tag    "hearth/application", :media => "all" %>
  <%= javascript_include_tag "hearth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
